.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.navbar {
  position: relative;
  left: 1600px;
}

.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: rotate(-45deg);
  display: none;
}
.open2 {
  transform: rotate(-135deg);
  position: relative;
  top: 11px;
}
.open3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 430px) {
  .navbar {
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust as per your design */
  right: 20px; /* Adjust as per your design */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 700px;
  width: 150px;
  background-color: #d2d6db;
}

.menu .h3tag {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.h3tag:hover {
  transform: scale(1.2);
}
